body{
    margin: 0;
    font-size:21px;
    font-family: 'Roboto', sans-serif;
}
.main{
    min-width:1000px;
    display:flex;
}

.leftside{
    width:20%;
}

.centerside{
    width:calc(75% - 2*var(--value-small-percentage));
    padding: var(--value-small-percentage);
    opacity:1;
    transition-delay: 0.1s;
    transition: opacity 0.33s;
}


.jumbo{
    width:100%;
}

.rightside{
    width:5%;
}

.active-list-element{
    background-color: gray;
    color: var(--darker-gray) !important;
}

.logo{
    font-size: 2rem;
    color: white;
}

.header{
    padding-left:24px;
    padding: var(--padding-medium);
    background-color: var(--main-color);
}

:root{
    --standard-radius: 7px;
    --gray : #A9A9A9;
    --darker-gray :  	#505050;
    --padding-small : 7px;
    --padding-medium: 14px;
    --padding-big: 28px;
    --value-small-percentage: 3%;
    --burgundy:  	#800020;
    --salmon: #FA8072;
    --main-color: navy;
}
.list-menu{
    list-style: none;
    
}

.red-btn{
    border-color: var(--burgundy) !important;
    background-color: var(--salmon);
    color: var(--burgundy);
}

.list-menu li{
    padding: var(--padding-small);
    color: dimgray;
    
}

.list-menu li:hover{
    border-radius: var(--padding-small);
    background: silver;
}

.leftside{
    background-color: gainsboro;
}

.describing{
    font-weight: bolder;
    text-indent: var(--padding-medium);
    padding: var(--padding-small);
    border-left: var(--padding-small) solid var(--main-color);
    margin-bottom: var(--padding-big);
}

.standard-btn{
    padding: var(--padding-medium);
    border: 2px solid var(--main-color);
    border-radius: var(--standard-radius);
}


.standard-input{
    padding: var(--padding-small);
    text-indent: 3px;
    border: 3px solid gray;
    outline:none;
    width:50%;
    font-size: 1.12rem;

}

.standard-input:focus{
    border-color:var(--main-color);
}

.hidden{
    display: none;
    opacity: 0;
    transition: opacity 0.33s;
}

.separated-bottom-top{
    border-bottom: 2px solid gainsboro;
    border-top: 2px solid gainsboro;
   
}

.separated-top{
    border-top: 2px solid gainsboro;
}

.separated-bottom{
    
    border-bottom: 2px solid gainsboro;
}

.controls-bar{
    display:flex;
    padding: 14px;
}
.row{
    padding: 14px 0 14px 0;
    display:flex;

}

.row-columns{
    flex-direction: column;
    gap: var(--padding-small);
}
.subrow{
    
    display:flex;
    gap:14px;
}

.adnotation{
    font-size: 0.85rem;
    color: dimgray;
}

i{
    color: var(--main-color);
    margin-right: 7px;
}

.box{
    padding: var(--padding-medium);
    border: 2px solid gray;
    display:inline-block;

}


.colorpick{
    display:flex;
    gap: 14px;
}

.colorpick-view{
    width:32px;
    height:32px;
    border:1px solid gray;
}
fieldset legend{
    font-size: 0.92rem;
}

.section div{
    margin: 7px 0 7px 0;
}
.section{
    padding: 28px 0 28px 0;
}

.subsection{
    margin-bottom: 14px !important;
}

ul > div{
    padding: 14px !important;
}

.list-view{
    padding:0;
    margin:0;
}

.marked{
    background-color: gainsboro;
}

